<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Travel To Outer Space</title>
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header>
        <h1>Travel To Outer Space</h1>
        <nav>
          <a href="./Menu/Home.html">Home</a>
          <a href="./Menu/SolarSystemSimulation.html"
            >Solar System Simulation</a
          >
        </nav>
      </header>

      <!-- Here would fit our logo -->
      <span class="avatar"
        ><img src="/static/images/avatar.png" alt="LOGO"
      /></span>
      <h1>
        Here you can find a brief wiki of some the coolest things related to
        space!
        <strong>To The Outer Space</strong>
      </h1>
      <ul class="icons">
        <li>
          <a href="#" class="icon style2 fa-twitter"
            ><span class="label">Twitter</span></a
          >
        </li>
        <li>
          <a href="#" class="icon style2 fa-facebook"
            ><span class="label">Facebook</span></a
          >
        </li>
        <li>
          <a href="#" class="icon style2 fa-instagram"
            ><span class="label">Instagram</span></a
          >
        </li>
        <li>
          <a href="#" class="icon style2 fa-envelope-o"
            ><span class="label">Email</span></a
          >
        </li>
      </ul>

      <!-- Main -->
      <section id="main">
        <!-- Thumbnails -->
        <section class="thumbnails">
          <div>
            <a href="/static/images/fulls/01.jpg">
              <img src="/static/images/fulls/01.jpg" alt="Planet Earth" />
              <h3>The planet Earth.</h3>
              <h4>This is our Home, but for how long ... ?</h4>
            </a>
            <a href="/static/images/fulls/02.jpg">
              <img src="/static/images/fulls/02.jpg" alt="" />
              <h3>Curiosity Rover</h3>
              <h4>
                Curiosity is one of the most ambitious missions of all humanity.
                It's mission is to to help determine whether Mars could ever
                have supported life, as well as determining the role of water,
                and to study the climate and geology of Mars. The mission
                results will also help prepare for human exploration!
              </h4>
            </a>
          </div>
          <div>
            <a href="/static/images/fulls/03.jpg">
              <img src="/static/images/fulls/03.jpg" alt="" />
              <h3>The Space Shuttle</h3>
              <h4>
                NASA's Space Shuttle carried people into space. The shuttle flew
                around, or orbited, Earth.The Space Shuttle did many things. It
                could carry up to seven astronauts at a time. The space shuttle
                was like a moving van. It took satellites to space so they could
                orbit Earth. The shuttle carried large parts into space to build
                the International Space Station.
              </h4>
            </a>
            <a href="/static/images/fulls/04.jpg">
              <img src="/static/images/fulls/04.jpg" alt="" />
              <h3>Sputnik</h3>
              <h4>
                The Sputnik 1 spacecraft was the first artificial satellite
                successfully placed in orbit around the Earth and was launched
                from Baikonur Cosmodrome at Tyuratam (370 km southwest of the
                small town of Baikonur) in Kazakhstan, then part of the former
                Soviet Union. The Russian word "Sputnik" means "companion"
                ("satellite" in the astronomical sense).
              </h4>
            </a>
            <a href="/static/images/fulls/05.jpg">
              <img src="/static/images/fulls/05.jpg" alt="" />
              <h3>Milky Way</h3>
              <h4>
                The Milky Way is a barred spiral galaxy, about a hundred
                light-years across. We live on one of its minor spurs, the Orion
                Arm.
              </h4>
            </a>
          </div>
          <div>
            <a href="/static/images/fulls/06.jpg">
              <img src="/static/images/fulls/06.jpg" alt="" />
              <h3>Black hole</h3>
              <h4>
                A black hole is a place in space where gravity pulls so much
                that even light can not get out. The gravity is so strong
                because matter has been squeezed into a tiny space. This can
                happen when a star is dying. The image above is the first REAL
                image of a black hole!
              </h4>
            </a>
            <a href="/static/images/fulls/07.jpg">
              <img src="/static/images/fulls/07.jpg" alt="" />
              <h3>The International Space Station</h3>
              <h4>
                The International Space Station is a large spacecraft. It orbits
                around Earth. It is a home where astronauts live. The space
                station is also a science lab. Many countries worked together to
                build it. They also work together to use it. The space station
                is made of many pieces. The pieces were put together in space by
                astronauts. The space station's orbit is approximately 250 miles
                above Earth. NASA uses the station to learn about living and
                working in space. These lessons will help NASA explore space.
              </h4>
            </a>
          </div>
        </section>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <p>
          &copy; Untitled. All rights reserved.
        </p>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.poptrox.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/skel.min.js"></script>
  </body>
</html>
